
/* ==== services ====*/

#services {
    margin-top: -120px;
}

.services-text div {
    width: 41%;
    margin: 30px auto;
    margin-top: 70px;
    border-left: 4px solid #fc7700;
    border-right: 4px solid #fc7700;
}
.services-text h2{
    width: 50%;
    margin: 5% auto;
    border-bottom: 4px solid #fc7700;
    padding-bottom: 3%;
  
    
}
 .content-services {
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 80px;
    background: #9590904d;
     background-color: rgba(0, 0, 0, 0.39);
    -webkit-transition: background 2s;
    -moz-transition: background 2s;
    -o-transition: background 2s;
    transition: background 2s;
} 

.content-services p {
    padding: 20px;
    padding-top: 0%;
    text-align: justify;
     font-size: 120%;
}
.content-services h2{
      color: white;
    margin-top: 10%;
    margin-bottom: 8%;
    font-size: 150%;
}

#services p {
    color: white;
}
.content-services:hover {
    background: #fc7700;
}

 .content-services div:first-of-type {
    top: 14%;
    left: 35%;
} 

 .third_servies {
    margin-top: 50px auto;
} 

.content-services div {
    position: relative;
    width: 120px;
    height: 120px;
    background: #fff;
    font-size: 50px;
    border-radius: 50%;
    margin-left: -5%;
}

.content-services div i {
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-1%, -1%);
    transition: all 0.5s ease-in-out;
    color: #fc7700;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.content-services:hover div {
    transform: translate(-1%, -1%) scale(1.1);
}

.div-animation {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 4s linear infinite;
}

.div-animation:hover i {
    transform: scale(1.5);
}


/* end services */